[Unit]
Description=SecretAI Attestation REST API Service
After=network.target secret-vm-startup.service
Requires=secret-vm-startup.service

[Service]
Type=simple
# Wait for certificate file to exist before starting the service
ExecStartPre=/bin/bash -c 'until [ -f /mnt/secure/cert/secretai2_fullchain.pem ]; do echo "Waiting for certificate file..."; sleep 5; done'
ExecStart=/usr/bin/secretai-attest-rest
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=claive_attest_rest
# Environment variables
Environment="SECRETAI_REST_SERVER_IP=0.0.0.0"
Environment="SECRETAI_SECURE=true"
Environment="SECRETAI_REST_SERVER_PORT=29343"
Environment="SECRETAI_CERT_PATH=/mnt/secure/cert/secretai2_cert.pem"
Environment="SECRETAI_KEY_PATH=/mnt/secure/cert/secretai2_private.pem"
Environment="SECRETAI_ATTEST_TIMEOUT_SEC=10"
Environment="SECRETAI_REPORT_DIR=/mnt/secure"
# Hardening options
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
