[Unit]
Description=Caddy Reverse Proxy
After=network.target secretai-attest-rest.service

[Service]
ExecStart=/usr/local/bin/caddy run --config /etc/caddy/Caddyfile
WorkingDirectory=/etc/caddy
User=caddy
Group=caddy
Restart=always

[Install]
WantedBy=multi-user.target
